[user]
    name = Glenn Hartmann
    email = glennhartmann85@gmail.com

[core]
    autocrlf = input
    ; safecrlf = true
    ; pager = less
    editor = vim
    deltaBaseCacheLimit = 1G
    difftool = vimdiff

[difftool "vimdiff"]
    cmd = "vim -d -c \"wincmd l\" \"$LOCAL\" \"$REMOTE\""

[alias]
    ignored = ls-files --others -i --exclude-standard
    co = checkout
    cob = "!sh -c 'git checkout -b \"$1\"' -"
    cobo = "!sh -c 'git checkout -b \"$1\" \"$2\"' -"
    coB = "!sh -c 'git checkout -B \"$1\"' -"
    ci = commit
    st = status -sb
    br = branch
    hist = log --decorate --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    lol = log --date=short --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    type = cat-file -t
    dump = cat-file -p
    stash-unapply = !git stash show -p | git apply -R
    count = "!sh -c 'git log --pretty=format:'' | wc -l' -"
    countauth = "!sh -c 'git log --author=\"$1\" --pretty=format:'' | wc -l' -"
    emptybranch = "!sh -c 'git symbolic-ref HEAD refs/heads/$1 && rm .git/index && git clean -fdx' -"
    undolast = reset HEAD^
    commitall = "!sh -c 'git add -A && git commit -m \"$1\"' -"
    commitallamend = "!sh -c 'git add -A && git commit --amend -m \"$1\"' -"
    pack = repack -a -d -f --depth=950 --window=950
    lsfiles = ls-tree -r --name-only HEAD
    trackallbranches = "!sh -c 'for branch in `git branch -a | grep remotes | grep -v HEAD | grep -v master`; do git branch --track ${branch##*/} $branch; done'"
    diffmaster = "!sh -c 'git diff `git merge-base HEAD master`'"
    difftoolmaster = "!sh -c 'git difftool `git merge-base HEAD master`'"
    diffmasternameonly = "!sh -c 'git diff `git merge-base HEAD master` --name-only'"
    checkoutmaster = "!sh -c 'git checkout `git merge-base HEAD master` \"$1\"' -"

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[merge]
    tool = vimdiffnice#vimdiff
    conflictstyle = diff3

[mergetool "vimdiffnice"]
    cmd = vimdiff -c \"wincmd J\" -c \"0\" $MERGED $LOCAL $BASE $REMOTE

[rerere]
    enabled = 1

[diff]
    algorithm = patience
